[Unit]
Description=Kubernetes KMS plugin provider for HashiCorp Vault

[Service]
Environment=VAULT_ADDR=unix:///tmp/vaultagent.sock
ExecStart=
ExecStart=/usr/local/bin/k8s-kms-plugin \
    -socketFile=unix:///tmp/vault-kms.sock \
    -transitPath=transit
    -keyNames=etcd

Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
